.bg-dark-light {
  background-color: rgb(221, 221, 221);
}
.bg-green-light {
  background-color: rgb(61, 204, 156);
}

/* remove navbar button stying */
.navbar-toggler {
    background: none !important;
    border: none !important;

    /* remove the blue outline when active or focused */
    &:active,
    &:focus {
      outline: 0;
    }

    /* basic styles for each icon bar */
    .icon-bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      margin: 4px 0 4px 0;
      transition: all 0.2s;
      background-color: white;

      /* .navbar open top .icon-bar rotated down 45° */
      &:nth-of-type(1) {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
      }

      /* .navbar open middle .icon-bar invisible */
      &:nth-of-type(2) {
        opacity: 0;
        filter: alpha(opacity=0);
      }

      /* .navbar open bottom .icon-bar rotated up 45° */
      &:nth-of-type(3) {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
      }
    }

    /* styles for when .navbar is closed */
    &.collapsed {
      .icon-bar {
        /* .navbar closed top .icon-bar no rotation - straight */
        &:nth-of-type(1) {
          transform: rotate(0);
        }

        /* .navbar open middle .icon-bar visible */
        &:nth-of-type(2) {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        /* .navbar open bottom .icon-bar no rotation - straight */
        &:nth-of-type(3) {
          transform: rotate(0);
        }
      }
    }
  }
